<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">

        google.charts.load('current', {packages: ['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var jsonData = $.ajax({
                url: "[[${jsonDataUrl}]]",
                dataType: "json",
                async: false
            }).responseText;

            //console.log(JSON.stringify(eval("(" + jsonData + ")")));

            var data = new google.visualization.DataTable(jsonData);

            var options = {
                colors: ["#4184F3"],
                lineWidth: 3,
                legend: {
                    position: "none"
                },
                hAxis: {
                    pointSize: 2,
                    format: 'MMM d, yyyy',
                    title: 'Date',
                    titlePosition: 'none'
                },
                vAxis: {
                    format: '$###,###,###.00',
                    title: 'Dollar'
                }
            };

            var chart = new google.charts.Line(document.getElementById('chart_div'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

    </script>
</head>
<body>

<h1 th:text="${stockName}"></h1>
<div>WKN: [[${wkn}]] | ISIN: [[${isin}]]</div>
<br/>
<div id="chart_div" style="width: 900px; height: 300px"></div>
<br/>
<div>Adjusted close price is adjusted for splits and dividend and/or capital gain distributions.</div>

</body>
</html>