<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<ul>
    <li>stock quotes samples:</li>
    <ul>
        <li>V1 chart for WKN 'A0RPWH': <a
                href="http://localhost:8080/chart/v1/A0RPWH">localhost:8080/chart/v1/A0RPWH</a></li>
        <li>V1 chart for WKN 'A0YEDG' with range year-to-date and weekly frequency: <a
                href="http://localhost:8080/chart/v1/A0YEDG?range=ytd&frequency=weekly">localhost:8080/chart/v1/A0YEDG?range=ytd&frequency=weekly</a>
        </li>
    </ul>
    <li>Docker services:</li>
    <ul>
        <li>Prometheus: <a href="http://localhost:9090">localhost:9090</a></li>
        <li>Prometheus actuator: <a href="http://localhost:8080/actuator/prometheus">localhost:8080/actuator/prometheus</a></li>
        <li>Prometheus stockquotes_app target: <a href="http://localhost:9090/targets?search=#pool-stockquotes_app">localhost:9090/targets?search=#pool-stockquotes_app</a></li>
        <li>Portainer: <a href="http://localhost:9000">localhost:9000</a></li>
        <li>Grafana: <a href="http://localhost:3000">localhost:3000</a></li>
        <li>Elasticsearch: <a href="http://localhost:9200">localhost:9200</a></li>
        <li>Kibana: <a href="http://localhost:5601">localhost:5601</a></li>
    </ul>
</ul>

</body>
</html>